@CHARSET "UTF-8";
p{
	font-size:11px;
	
	
}
.modal-dialog{
	
	font-family:HY강B;
 	text-align:center;
	
}


body {
	font-family: "HY강B";
}
.pricing-table .plan {
	margin-left: 20px;
	border-radius: 5px;
	text-align: center;
	background-color: #c0d6e4;
	margin-left: 20px;
	width: 190px;
height:300px;
	font-family: HY강B;
}

.plan:hover {
	background-color: #ffdada;
}

.plan {
	padding: 20px;
	margin-left: 0px;
	color: #ff;
	background-color: #5e5f59;
	border-radius: 5px 5px 0 0;
}

.plan-name-bronze {
	padding: 5px;
	background-color: white;
	border-radius: 5px 5px 0 0;
	height: 150px;
	font-family: HY강B;
}

.pricing-table-bronze {
	padding: 10px;
	color: #fff;
	background-color: #f89406;
	border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
	font-size: 10px;
}

.pricing-table .plan ul {
	list-style: none;
	border-radius: 0 0 5px 5px;
}

.plan-feature{
	font-size:14px;
}

ul, ol {
	margin-top: 0;
		margin-left: 0px;
	padding-left: 0px;
	font-size: 11px;
}

.pricing-table .plan ul li.plan-feature {
	padding: 5px 5px;
	border-top: 1px solid #c5c8c0;
	font-family: HY강B;
	text-align: left;
}



section#post {
	display: table-cell;
}

.container {
	padding-right: 150px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-weight: bold;
	font-family: HY강B;
}

.navbar-default {

	background-color:#1077A9;
	font-size: 15px;
	font-family: HY강B;
	margin-left: 180px;
	margin-right: 180px;
	margin-bottom: 30px;
}

nav.aside {
	display: table-cell;
	padding-left: 170px;
	font-family: HY강B;
}

form.submenu {
	width: 220px;
	height: auto;
	padding-left: 10px;
	font-family: HY강B;
}

.nav ul {
	list-style: none;
	width: 180px;
	font-size: 1em;
	padding: 0;
	font-family: HY강B;
	display: table-cell;
}

ul {
	font-size: 15px;
	font-family: HY강B;
	padding-left: 5px;
}

li {
	font-size: 15px;
	font-family: HY강B;
	font-color: black;
}

.btn-block {
	font-size: 15px;
	font-family: HY강B;
	background-color: #1077a9;
	color: white;
}

#accordian {
	margin: 100px auto 0 0;
	color: white;
	text-decoration: none;
	display: table-cell;
	width: 200px;
}
/* 메뉴 스타일 */
#accordian h3 {
	font-size: 14px;
	line-height: 40px;
	padding: 0 10px;
	cursor: pointer;
	background: #003366;
	margin-bottom: 0px;
	width: 200px;
}

#accordian h3:hover {
	
	width: 200px;
}
/* 아이콘폰트 스타일 */
#accordian h3 span {
	font-size: 20px;
	margin-right: 10px;
}

#accordian li {
	list-style-type: none;
}
/* 서브메뉴 스타일 */
#accordian ul ul li a {
	color: black;
	text-decoration: none;
	background: lightblue;
	font-size: 13px;
	line-height: 28px;
	display: block;
	padding: 0 15px;
	width: 200px;
}

#accordian ul ul li a:hover {
	background: #ffe4e4;
	border-left: 5px solid #09c;
	width: 200px;
}

/* active 클래스 외에 것은 보이지 않게 하기 */
#accordian ul ul {
	display: none;
	padding-left: 0px;
}

#accordian li.active ul {
	display: block;
	width: 200px;
}

.plus {
	float: right;
} /* 메뉴 아이콘 배치 */
/* form { */
/* 	position: relative; */
/* 	width: 200px; */
/* 	float: right; */
/* 	margin: 0 auto; */
/* } */


table {
	font-family: HY강B;
}

.title {
	text-align: center;
}

.btn-primary:hover {
	border: 1px solid #1689b9;
	background-color: #1689b9;
}

.btn-primary {
/* 	background-color: #286BF7; */
/* 	border-radius: 10px; */
	color: wihte;
	text-decoration: none;
	border: 1px solid #286BF7;
}

.pagination {
	display: block;
	test-align: center;
}

.pagination>li>a {
	float: none;
}

.d1 input {
	width: 200px;
	height: 30px;
	padding-left: 10px;
	border: 2px solid #007DC1;
	border-radius: 5px;
	outline: none;
	float: right;
}

.d1 button {
 	position:absolute;
	margin-left:980px;
	width: 30px;
	height: 30px;
	border: none;
	background: #007DC1;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.d1 button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: white;
}

select {
	position: absolute;
	font-family: HY강B;
	border: 2px solid #007DC1;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	margin-left: 700PX;
}

div.log1 {
	font-family: HY나무B;
}

div.userif {
	font-family: HY나무B;
	border: 1px solid #bbbbbb;
	border-radius: 10px;
	width: 180px;
	margin-top: auto;
	margin-left: 10px;
	margin-top: 25px;
}

div.user {
	font-family: HY강B;
	text-align: center;
	border: 2px solid #007DC1;
	border-radius: 5px;
	color: #007DC1;
	margin-bottom: 30px;
	margin-top: -5px;
}

div.userf {
	font-family: HY강B;
	line-height: 1.8em;
	border-top: 50px;
}

div.a {
	padding-left: 10px;
}

hr {
	border: 1px solid #777777;
}
.btn-primary{
/* background-color:#c0d6e4; */
/* color:black; */

/* border-radius: 0 3px 3px 0; */
	font-family: HY강B;
/* 	text-align: center; */
/* 	height: 30px; */
/* 	border:1px solid  #1a3547 ; */
	
}

.btn-info{
	height: 30px;
	background-color:#FFDADA;
	border:1px solid #003366;
	font-family: HY강B;
	color:black;

}
.name{
	padding-left:10px;
	font-family: HY강B;

	
}
.del{
	border-radius:5px;
	width:75px;
	height:35px;
	float:right;
	font-family: HY강B;
	font-size:14px;
	color:white;
	border:1px solid #cccccc;
	background-color:#007DC1;
	
	
}
footer{
	text-align:center;
	margin-top:100px;
	font-family: HY강B;
	font-size:11px;
	
}


input[type=date] { height:25px; }

